// Font
@font-face
    font:
        family: 'moods'
        style: normal
        weight: normal
    src: url('fonts/moods.eot?-18bfu6')
    src: url('fonts/moods.eot?#iefix-18bfu6') format('embedded-opentype'), url('fonts/moods.woff?-18bfu6') format('woff'), url('fonts/moods.ttf?-18bfu6') format('truetype'), url('fonts/moods.svg?-18bfu6#moods') format('svg')

[class^='mood-'], [class*=' mood-']
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    font:
        family: 'moods'
        style: normal
        variant: normal
        weight: normal
    line-height: 1
    speak: none
    text-transform: none

.mood-1:before
    color: #cc0000
    content: '\e602'

.mood-2:before
    color: #cc862a
    content: '\e601'

.mood-3:before
    color: blue
    content: '\e603'

.mood-4:before
    color: green
    content: '\e600'

// Page
body, html, .container, .overlay
    height: 100%
    margin: 0
    padding: 0
    width: 100%

.container
    background: linear-gradient(to top, white 0%, #bcbccf 100%)
    position: relative

.content
    $size: 50%
    -webkit-transform: translate(-$size, -$size)
    left: $size
    margin: 0
    margin-right: -$size
    position: absolute
    top: $size
    transform: translate(-$size, -$size)

.moods
    list-style-type: none
    padding: 0
    .item
        float: left
        font-size: 12em
        margin: 0.2em
        transition: 0.1s ease-in-out
        &:hover
            -webkit-transform: scale(1.1)
            opacity: 0.8
            transform: scale(1.1)
        &:active
            -webkit-transform: scale(0.9)
            opacity: 1
            transform: scale(0.9)

.overlay
    $opacity: 0.5
    background-color: rgba(255, 255, 255, $opacity)
    display: none
    left: 0
    position: absolute
    top: 0
    z-index: 100
    &.error
        background-color: rgba(255, 0, 0, $opacity)
    &.success
        background-color: rgba(0, 255, 0, $opacity)

.title
    color: #668
    font:
        family: Helvetica Neue, Helvetica, Arial, sans-serif
        size: 3em
        weight: normal
    letter-spacing: -0.03em
    text-align: center
