// TODO: Get data from API
- var moods = [1,2,3,4]
doctype html
head
    meta(charset="utf-8")
    title daily mood :)
    meta(name="viewport", content="width=device-width")

    //- build:css(.tmp) styles/main.css
    link(rel="stylesheet", href="styles/main.css")
    //- endbuild
body
    .container
        .content
            // TODO: Get messages from API
            h2.title Oi, como está se sentindo agora?
            ul.moods
                - each moodLevel in moods
                    li.mood
                        span(class='mood-#{moodLevel}')

    //- build:js(.tmp) scripts/main.js
    script(src="bower_components/zepto/zepto.js")
    script(src="scripts/main.js")
    //- endbuild
